.page-main {
    padding-left: 0;
    padding-right: 0;
}
.columns .column.main {
    padding-bottom: 0;
}

.webgl-content * {border: 0; margin: 0; padding: 0}
.webgl-content {
   overflow: hidden;
    z-index: -100;
    position: absolute !important ;
    height: 100%;
    width: 100%;
    top: 0;
    left: unset;
    transform: unset;
    -webkit-transform: unset;
}

.* {
	 margin: 0;
	 padding: 0;
	}

.canvas {
            position: absolute;
}

 .canvas, .webgl-content, #unityContainer {
            width: 100%;
            height: 100%;
        }


body {
    z-index: -10;
    overflow: hidden;
    padding-top: 0;
}
.page-header {
    z-index: 10;
}

footer.page-footer {
    z-index: 10;
    background: unset;
}